* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  color: white;
}

@media screen and (max-width: 2000px) and (min-width: 375px) {
  body {
    background-color: #181f2a;
  }
}

@media screen and (max-width: 540px) {
  body {
    font-size: 12px;
  }
}

.productive {
  padding: 200px;
}

.productive .productive1 {
  max-width: 1800px;
  margin-top: 90px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productive .productive1 .productivep {
  max-width: 500px;
}

.productive .productive1 h2 {
  font-size: 50px;
}

.testimonio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 140px;
}

@media (max-width: 768px) {
  .testimonio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .testimonio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonio .imgtext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonio article {
  background: #202a3c;
  padding: 37px;
  margin: 15px;
  height: 220px;
  width: 400px;
}

.testimonio article img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.testimonio article .imgh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.early {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1c2431;
  height: 250px;
  margin: 0 auto;
  width: 800px;
  border-radius: 2%;
  -webkit-filter: drop-shadow(8px 5px 5px #0b1523);
          filter: drop-shadow(8px 5px 5px #0b1523);
  text-align: center;
  margin-bottom: -100px;
}

section.early h2 {
  font-size: 30px;
  margin-top: 35;
}

section.early p {
  padding: 3%;
}

section.early #section-email {
  width: 350px;
  height: 40px;
  border-radius: 25px;
  outline: none;
  border: none;
  margin-right: 20px;
}

section.early #section-email.placeholder {
  color: #202a3c;
  margin-right: 50px;
}

section.early #section-email-btn {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  color: white;
}

footer {
  background-color: #0b1523;
  padding: 90px 0;
}

footer .contenedorprin {
  max-width: 1800px;
  margin-top: 90px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .izqcolumn {
  width: 20%;
  list-style: none;
  margin-bottom: 5px;
  margin-top: 10px;
  padding: 30 px 0px;
}
/*# sourceMappingURL=style.css.map */